<div class="py-3">
</div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card border-0 shadow mb-4">
          <div class="card-header">
            <div class="row align-items-center">
              <form>
                <div class="row">
                  <div>
                    <label class="form-label">Создание цели</label>
                    <input [(ngModel)]="name" name="goalName" class="form-control" placeholder="Название цели">
                    <textarea [(ngModel)]="description" name="goalDescription" class="form-control mt-3" placeholder="Описание цели" rows="3"></textarea>
                  </div>
                  <div class="col text-end mt-3">
                    <a *ngIf="!isEdited" (click)="createGoal()" class="btn btn-sm btn-primary">Добавить</a>
                    <a *ngIf="isEdited" (click)="updateGoal()" class="btn btn-sm btn-primary me-2">Сохранить</a>
                    <a *ngIf="isEdited" (click)="deleteGoal()" class="btn btn-sm btn-danger me-2">Удалить цель</a>
                    <a *ngIf="isEdited" (click)="discardChange()" class="btn btn-sm btn-primary">Отмена</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card border-0 shadow mb-4">
          <div class="card-header">
            <div class="table-responsive py-2">
            <div class="mb-2">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <h2 class="fs-5 fw-bold mb-0">Цели</h2>
              </div>
              <div class="d-flex">
                <div class="col-xs-3 d-flex col-sm-auto">
                  <div class="input-group input-group-merge search-bar">
                    <span class="input-group-text">
                      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                    </span>
                    <input type="text" class="form-control" name="searchTerm" (keyup)="applyFilter($event)" placeholder="Поиск">
                  </div>
                </div>
                <span class="col col-form-label ms-2" *ngIf="isLoading">Загрузка...</span>
              </div>
            </div>
          </div>
          </div>
        </div>

        <div class="card border-0 shadow mb-3" *ngFor="let goalView of goalViews">
          <div class="card-header">
            <div class="row">
              <div class="col-auto">
                <fa-icon [icon]="faClipboardList"></fa-icon>
              </div>
              <div class="col">
                <div class="progress-wrapper">
                  <div class="progress-info">
                    <div class="h6 mb-0">{{goalView.Name}}</div>
                    <div class="small fw-bold text-gray-500"><span>{{goalView.PercentageCompletion}} %</span></div>
                  </div>
                  <div class="progress mb-0">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width.%]="goalView.PercentageCompletion"></div>
                  </div>
                  <div class="mt-2">
                    <p style="color: #505050; font-size: 0.875em">{{goalView.Description}}</p>
                  </div>
                </div>
              </div>
              <div class="py-3 text-end">
                <a (click)="editGoal(goalView)" class="btn btn-sm btn-primary me-2">Редактировать</a>
                <a (click)="showGoalTasks(goalView)" class="btn btn-sm btn-primary">Посмотреть задачи</a>
              </div>
            </div>
            <div *ngIf="goalView.IsNeedShowGoalTasks" class="mt-2">
              <div class="d-flex align-items-center justify-content-between mt-2 border-bottom">
                <h6 class="fw-bold mb-2">Задачи цели</h6>
              </div>
              <div class="table-responsive">
                <span class="col col-form-label ms-2" *ngIf="goalView.IsGoalTasksLoading">Загрузка...</span>
                <table class="table table-centered table-nowrap mt-2 mb-0 rounded">
                  <thead class="thead-light">
                  <tr>
                    <th class="border-0 rounded-start">Задача</th>
                    <th class="border-0 text-center">Тип задачи</th>
                    <th class="border-0 text-center">Категория</th>
                    <th class="border-0 text-center">Дата создания</th>
                    <th class="border-0 text-center">Статус выполнения</th>
                    <th class="border-0 rounded-end text-center">Действие</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr [ngClass]="taskView.IsComplete ? 'table-primary' : ''" *ngFor="let taskView of goalView.GoalTasks">
                    <td class="border-0">
                      <a class="d-flex align-items-center">
                        <div><span class="" [ngClass]="taskView.IsComplete ? 'text-decoration: line-through' : ''">{{taskView.Name}}</span></div>
                      </a>
                    </td>
                    <td class="border-0 font-weight-bold text-center" [ngClass]="taskView.IsComplete ? 'text-decoration: line-through' : ''">{{taskView.TaskTypeName}}</td>
                    <td class="border-0 font-weight-bold text-center" [ngClass]="taskView.IsComplete ? 'text-decoration: line-through' : ''">{{taskView.CategoryName}}</td>
                    <td class="border-0 text-center">
                      <span class="fas fa-angle-down"></span>
                      <span class="font-weight-bold" [ngClass]="taskView.IsComplete ? 'text-decoration: line-through' : ''">{{taskView.Created | date : 'short'}}</span>
                    </td>
                    <td class="border-0 text-center">
                      <input style="width: 2em; height: 2em" class="form-check-input" type="checkbox" [ngModel]="taskView.IsComplete" (ngModelChange)="changeExecutionStatus(taskView, goalView)">
                    </td>
                    <td class="border-0 text-center">
                      <button class="btn btn-danger" type="button" (click)="DeleteTask(goalView, taskView)">
                        <fa-icon [icon]="faTrashCan"></fa-icon>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="py-3 text-end">
                <a (click)="showTasksToAdd(goalView)" class="btn btn-sm btn-primary">Добавить задачу</a>
              </div>
              <div *ngIf="goalView.IsNeedShowTasksToAdd" class="table-responsive">
                <div class="border-bottom mb-2">
                  <div class="d-flex align-items-center justify-content-between mt-2">
                    <h6 class="fw-bold mb-0">Задачи для добавления</h6>
                  </div>
                  <div class="d-flex mb-2 mt-2">
                    <div class="col-xs-3 d-flex col-sm-auto">
                      <div class="input-group input-group-merge search-bar">
                            <span class="input-group-text" id="topbar-addon">
                              <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                            </span>
                        <input type="text" class="form-control" name="searchTerm" (keyup)="applyTaskFilter($event, goalView)" placeholder="Поиск">
                      </div>
                    </div>
                    <span class="col col-form-label ms-2" *ngIf="goalView.IsTasksToAddLoading">Загрузка...</span>
                  </div>
                </div>
                <table class="table table-centered table-nowrap mb-0 rounded">
                  <thead class="thead-light">
                  <tr>
                    <th class="border-0 rounded-start">Задача</th>
                    <th class="border-0 text-center">Тип задачи</th>
                    <th class="border-0 text-center">Категория</th>
                    <th class="border-0 text-center">Дата создания</th>
                    <th class="border-0 text-center">Статус выполнения</th>
                    <th class="border-0 rounded-end text-center">Действие</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr [ngClass]="taskView.IsComplete ? 'table-primary' : ''" *ngFor="let taskView of goalView.Tasks">
                    <td class="border-0">
                      <div class="d-flex align-items-center">
                        <span class="" [ngClass]="taskView.IsComplete ? 'text-decoration: line-through' : ''">{{taskView.Name}}</span>
                      </div>
                    </td>
                    <td class="border-0 font-weight-bold text-center" [ngClass]="taskView.IsComplete ? 'text-decoration: line-through' : ''">{{taskView.TaskTypeName}}</td>
                    <td class="border-0 font-weight-bold text-center" [ngClass]="taskView.IsComplete ? 'text-decoration: line-through' : ''">{{taskView.CategoryName}}</td>
                    <td class="border-0 text-center">
                      <span class="fas fa-angle-down"></span>
                      <span class="font-weight-bold" [ngClass]="taskView.IsComplete ? 'text-decoration: line-through' : ''">{{taskView.Created | date : 'short'}}</span>
                    </td>
                    <td class="border-0 text-center">
                      <input style="width: 2em; height: 2em" class="form-check-input" disabled="disabled" type="checkbox" [ngModel]="taskView.IsComplete">
                    </td>
                    <td class="border-0 text-center">
                      <button class="btn btn-gray-200" type="button" (click)="AddTask(goalView, taskView)">
                        <fa-icon [icon]="faPlus"></fa-icon>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-between mt-2">
                  <ngb-pagination class="pe-5" [collectionSize]="goalView.TaskDataState.collectionSize" [(page)]="goalView.TaskDataState.page" [pageSize]="goalView.TaskDataState.pageSize" (pageChange)="getTasksToAdd(goalView)">
                  </ngb-pagination>

                  <select class="form-select" style="width: auto" [(ngModel)]="goalView.TaskDataState.pageSize" (ngModelChange)="getTasksToAdd(goalView)">
                    <option [ngValue]="5">5 задач на странице</option>
                    <option [ngValue]="10">10 задач на странице</option>
                    <option [ngValue]="20">20 задач на странице</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-0 shadow mt-4">
          <div class="card-header">
            <div class="d-flex justify-content-between mt-2">
              <ngb-pagination class="pe-5 mt-2" [collectionSize]="dataState.collectionSize" [(page)]="dataState.page" [pageSize]="dataState.pageSize" (pageChange)="getGoals()">
              </ngb-pagination>

              <select class="form-select" style="width: auto" [(ngModel)]="dataState.pageSize" (ngModelChange)="getGoals()">
                <option [ngValue]="3">3 цели на странице</option>
                <option [ngValue]="6">6 целей на странице</option>
                <option [ngValue]="9">9 целей на странице</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
