<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<main>
  <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center form-bg-image" data-background-lg="../../assets/img/illustrations/signin.svg">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
            <div class="text-center text-md-center mb-4 mt-md-0">
              <h1 class="mb-0 h3">Регистрация</h1>
            </div>
            <form action="#" class="mt-4">
              <div class="form-group mb-4">
                <label>Имя пользователя</label>
                <div class="input-group">
                                        <span class="input-group-text">
                                          <fa-icon [icon]="faUser"></fa-icon>
                                        </span>
                  <input [(ngModel)]="displayName" type="text" class="form-control" placeholder="Имя пользователя" name="displayName" autofocus required>
                </div>
              </div>
              <div class="form-group mb-4">
                <label>Email</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">
                    <fa-icon class="icon icon-xs" [icon]="faEnvelope"></fa-icon>
                  </span>
                  <input [(ngModel)]="email" type="email" class="form-control" placeholder="example@mail.ru" name="email" autofocus required>
                </div>
              </div>
              <div class="form-group">
                <div class="form-group mb-4">
                  <label>Пароль</label>
                  <div class="input-group">
                    <span class="input-group-text">
                      <fa-icon class="icon icon-xs" [icon]="faLock"></fa-icon>
                    </span>
                    <input [(ngModel)]="password" type="password" placeholder="Пароль" class="form-control" name="password" required>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label>Подтверждение пароля</label>
                  <div class="input-group">
                    <span class="input-group-text">
                      <fa-icon class="icon icon-xs" [icon]="faLock"></fa-icon>
                    </span>
                    <input [(ngModel)]="confirmPassword" type="password" placeholder="Подтверждение пароля" class="form-control" name="confirm_password" required>
                  </div>
                </div>
              </div>
              <div class="d-grid">
                <button (click)="register()" type="submit" class="btn btn-gray-800">Зарегистрироваться</button>
              </div>
            </form>
            <div class="d-flex justify-content-center align-items-center mt-4">
              <span class="fw-normal">
                Уже есть аккаунт?
                <a routerLink="/Login" class="fw-bold">Войти</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>
