<div class="py-4">
</div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card border-0 shadow mb-4">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="mb-3">
                <label for="descriptionInput" class="form-label">Создание заметки</label>
                <textarea [(ngModel)]="description" placeholder="Описание" class="form-control" id="descriptionInput" rows="3"></textarea>
              </div>
              <div class="col text-end">
                <a *ngIf="!isEdited" (click)="createNote()" class="btn btn-sm btn-primary">Добавить</a>
                <a *ngIf="isEdited" (click)="updateNote()" class="btn btn-sm btn-primary me-2">Сохранить</a>
                <a *ngIf="isEdited" (click)="discardChange()" class="btn btn-sm btn-primary">Отмена</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0 shadow">
          <div class="card-header">
            <div class="table-responsive py-4">
              <div class="d-flex mb-2">
                <div class="col-xs-3 col-sm-auto">
                  <div class="input-group input-group-merge search-bar">
                    <span class="input-group-text">
                      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                    </span>
                    <input type="text" class="form-control" name="searchTerm" (keyup)="applyFilter($event)" placeholder="Поиск">
                  </div>
                </div>
                <span class="col col-form-label ms-2" *ngIf="isLoading">Загрузка...</span>
              </div>
              <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                <tr>
                  <th class="border-0 rounded-start">Заметка
                    <button (click)="openDescriptionTableFilter()" class="btn-table-header" type="button">
                      <fa-icon [icon]="faBars"></fa-icon>
                    </button>
                  </th>
                  <th class="border-0 text-center">Дата создания
                    <button (click)="openCreateDateTimeTableFilter()" class="btn-table-header" type="button">
                      <fa-icon [icon]="faBars"></fa-icon>
                    </button>
                  </th>
                  <th class="border-0 rounded-end text-center">Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let note of notes">
                  <td class="border-0">
                    <a class="d-flex align-items-center">
                      <div><span class="">{{note.Description}}</span></div>
                    </a>
                  </td>
                  <td class="border-0 text-center">
                    <span class="fas fa-angle-down"></span>
                    <span class="font-weight-bold">{{note.Created | date : 'short'}}</span>
                  </td>
                  <td class="border-0 text-center">
                    <button class="btn btn-gray-200 me-2" type="button" (click)="editNote(note)">
                      <fa-icon [icon]="faPencil"></fa-icon>
                    </button>
                    <button class="btn btn-danger" type="button" (click)="deleteNote(note.Id)">
                      <fa-icon [icon]="faTrashCan"></fa-icon>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between mt-2">
                <ngb-pagination class="pe-5" [collectionSize]="dataState.collectionSize" [(page)]="dataState.page" [pageSize]="dataState.pageSize" (pageChange)="getNotes()">
                </ngb-pagination>

                <select class="form-select" style="width: auto" [(ngModel)]="dataState.pageSize" (ngModelChange)="getNotes()">
                  <option [ngValue]="5">5 заметок на странице</option>
                  <option [ngValue]="10">10 заметок на странице</option>
                  <option [ngValue]="20">20 заметок на странице</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
