<div [ngClass]="isLoggedIn ? 'content' : ''">
  <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0" *ngIf="isLoggedIn">
    <div class="container-fluid px-0">
      <div class="d-flex justify-content-between w-100">
        <div class="d-flex align-items-center">
        </div>
        <ul class="navbar-nav align-items-center">
          <li class="nav-item dropdown ms-lg-3">
            <a class="nav-link dropdown-toggle pt-1 px-0" (click)="showMenu()" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="media d-flex align-items-center">
                <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                  <fa-icon [icon]="faUser"></fa-icon>
                  <span class="ms-2 font-small fw-bold text-gray-900">{{displayName}}</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1Y" [ngClass]="isActive ? 'show' : ''">
              <a class="dropdown-item d-flex align-items-center" routerLink="/settings" (click)="showMenu()">
                <fa-icon class="dropdown-icon me-2" [icon]="faGear"></fa-icon>
                Настройки профиля
              </a>
              <div role="separator" class="dropdown-divider my-1"></div>
              <a class="dropdown-item d-flex align-items-center" routerLink="Logout">
                <fa-icon class="dropdown-icon text-danger me-2" [icon]="faArrowRightFromBracket"></fa-icon>
                Выйти
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class='root'>
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-white rounded shadow p-5 mb-4 mt-4" *ngIf="isLoggedIn">
    <div class="row">
      <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
        <p class="mb-0 text-center text-lg-start">© 2022 <span class="current-year"></span>Павел Коровкин</p>
      </div>
    </div>
  </footer>
</div>
