<div class="py-4">
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-body border-0 shadow mb-4">
      <h2 class="h5 mb-4">Основная информация</h2>
      <form>
        <div class="row">
          <div class="col-md-6 mb-3">
            <div>
              <label for="displayName">Имя пользователя</label>
              <input [(ngModel)]="user.DisplayName" name="displayName" class="form-control" id="displayName" type="text" placeholder="Имя пользователя" required>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="email">Email</label>
              <input [(ngModel)]="user.Email" name="email" class="form-control" id="email" type="email" placeholder="example@mail.ru" required>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="oldPassword">Старый пароль</label>
              <input [(ngModel)]="oldPassword" name="oldPassword" class="form-control" id="oldPassword" type="password" placeholder="Старый пароль" required>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="newPassword">Новый пароль</label>
              <input [(ngModel)]="newPassword" name="newPassword" class="form-control" id="newPassword" type="password" placeholder="Новый пароль" required>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="newConfirmPassword">Подтверждение нового пароля</label>
              <input [(ngModel)]="newConfirmPassword" name="newConfirmPassword" class="form-control" id="newConfirmPassword" type="password" placeholder="Подтверждение нового пароля" required>
            </div>
          </div>
        </div>
        <div class="text-end">
          <button (click)="updateUser()" class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Сохранить данные</button>
        </div>
      </form>
    </div>
  </div>
</div>
